// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  --swiper-pagination-bottom: -3px;
  --swiper-pagination-color: #49B742;
  --highlight-color-focused: #49B742;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bullet-inactive-opacity: 1px;

  --ion-color-primary: #49B742;

}
